# This is the content of the gitignore file created on the script, is the 'GitHub gitignore template for Rust', useful for most projects, check the script description of explanation of the content.

debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
